.account-home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-title {
    color: white;
}

.account-groups {
    width: 100%;
    flex-direction: row;
}
.account-groups-row {
    width: 100%;
    text-decoration: none;
    border: 2px solid white;
}

.account-groups-col1 {
    display: inline-block;
    width: 25%;
    color: white;
    text-align: center;
    text-decoration: none;
}

.account-groups-col2 {
    display: inline-block;
    width: 75%;
    border-left: 2px solid white;
    padding-left: 20px;
    color: white;
    text-decoration: none;
}